.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(31, 35, 44);
  color: #fff;
  position: fixed; /* set the position to fixed */
  top: 0; /* set the top position to 0 */
  width: 100%; /* set the width to 100% */
  left: 0;
  right: 0;
  z-index: 9999;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu {
  opacity: 1;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
  align-items: center;
  width: 50%;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
}

.hamburger span:nth-child(1) {
  transform-origin: top left;
}

.hamburger span:nth-child(3) {
  transform-origin: bottom left;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 0);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(0px, 4px);
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(31, 35, 44);
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transform: translateY(0%);

    transition: all 0.3s ease-in-out;
  }

  .menu li {
    margin-right: 0;
    padding: 15px;
  }
  .menu li:hover {
    background-color: darkslategray;
    width: 100%;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }
}
