.container {
  display: flex;
  .profile_title {
    width: 50%;
    display: flex;
    place-content: center;
    place-items: center;
    border: 1px solid #6666664f;
    text-align: justify;
    padding: 3em;
    font-size: calc(5px + 1vw);
    font-weight: 700;
    color: darkslategray;
    background-image: url(https://media.graphassets.com/dkAe2w0R2Ixwgey8AoEQ);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .profile_image {
    width: 50%;
    display: flex;
    place-content: center;
    place-items: center;
    border: 1px solid #6666664f;
    padding: 10px;
    img {
      width: 80%;
      height: 70%;
    }
  }
}
@media screen and (max-width: 560px) {
  .container {
    display: grid;
    .profile_title {
      width: 100%;
      display: flex;
      place-content: center;
      place-items: center;
      border: 1px solid #6666664f;
    }
    .profile_image {
      width: 100%;
      display: flex;
      place-content: center;
      place-items: center;
      border: 1px solid #6666664f;

      img {
        width: 80%;
        height: 100%;
      }
    }
  }
}
