.social_icons_container {
  display: flex;
  align-items: center;
}

.social_icons_container a {
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}

.social_icons_container a:last-child {
  margin-right: 0;
}

.social_icons_container a svg {
  width: 44px;
  height: 44px;
  fill: #333; /* Adjust the color as needed */
}

.social_icons_container a:hover svg {
  fill: #007bff; /* Adjust the hover color as needed */
}
